<%= form_with(model: especie, local: true) do |form| %>
  <% if especie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(especie.errors.count, "error") %> prohibited this especie from being saved:</h2>

      <ul>
      <% especie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <span class="input-group-addon" id="sizing-addon2"><%= form.label :nombre %></span>
    <%= form.text_field :nombre, id: :especie_nombre, :class=>"form-control", :placeholder=>"Mamíferos" %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit "Guardar", :class=>"btn btn-nuevo" %> 
    <%= link_to 'Volver', especies_path, :class=>"btn btn-default" %>
  </div>
<% end %>
