<div class="container">
<p id="notice"><%= notice %></p>

<h1>Lista de Especies</h1>
<div class="col-sm-9">
<div><%= link_to 'Nueva Especie', new_especie_path, :class=>"btn btn-nuevo" %></div>
<br>
<table class="table table-condensed">


  <tbody>
    <% @especies.each do |especie| %>
      <tr>
        <td><%= especie.nombre %></td>
        
        <td>
          <%= link_to 'Modificar', edit_especie_path(especie), :class=>"btn btn-modificar" %></td>
        <td><%= link_to 'Destruir', especie, method: :delete, data: { confirm: 'Esta seguro que quiere eliminar @especie.nombre '} , :class=>"btn btn-destruir"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

