

<!-- Alerta para un usuario vip -->
<% if current_user.try(:vip?) %> 
      <div class="alert alert-danger" role="alert">
      <h2>No tiene permiso para utilizar esta sección consulte con el administrador</h2>
<% end %>
<!-- fin de alerta -->

<!-- Si es admin y user se muestra la pagina -->
<% if user_signed_in? %>
  <% if current_user.try(:user?) || current_user.try(:admin?)  %> 
<!-- finaliza al pie de esta lamina con dos end  -->


<%= form_with(model: tarea, local: true) do |form| %>
  <% if tarea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tarea.errors.count, "error") %> prohibited this tarea from being saved:</h2>

      <ul>
      <% tarea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Ficha Medica" %>
     <%= form.collection_select(:ficha_medica_id, FichaMedica.all, :id, :id) %>
  </div>
  <div class="field">
      <%= form.label "Medicamento" %>
      <%= form.text_field :medicamento, id: :tarea_medicamento, :class=>"form-control", :placeholder=>"Emberizidae"  %>
  </div>
  <div class="field">
    <%= form.label :fecha %>
    <%= form.datetime_select :fecha, id: :tarea_fecha %>
  </div>

  <div class="field">
    <%= form.label :terminado %>
    <%= form.check_box :terminado, id: :tarea_terminado %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<% end %>
<% end %>