  <h3>Lista de Animales con tratamientos</h3>
  <hr></hr>
  <div>
    
 <%= render 'filtrar' %>
    
      
  </div>
       

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Fecha / Hora</th>
      <th>Animal</th>
      <th>Diagnostico</th>
      <th>Medicamento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tareas.each do |tarea| %>
      <tr>
        <td><%= tarea.fecha %></td>
        <td><%= tarea.ficha_medica.animal.nombre_comun %></td>
        <td><%= tarea.ficha_medica.dolencia %></td>
        <td><%= tarea.medicamento %></td>
        <!-- <td><%= check_box_tag (tarea.terminado) %></td>  -->


        <td> <%= link_to 'Dar de Alta', daralta_tarea_path(tarea), method: "put", class:"btn btn-primary" %> </td>

        <!-- <td><%= link_to 'Show', tarea %></td>
        <td><%= link_to 'Edit', edit_tarea_path(tarea) %></td>
        <td><%= link_to 'Destroy', tarea, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>


