<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @tarea.fecha %>
</p>

<p>
  <strong>Terminado:</strong>
  <%= @tarea.terminado %>
</p>

<%= link_to 'Edit', edit_tarea_path(@tarea) %> |
<%= link_to 'Back', tareas_path %>
