<p id="notice"><%= notice %></p>

<h1>Internados</h1>

<table>
  <thead>
    <tr>
      <th>Medicamento</th>
      <th>Dosis</th>
      <th>Fecha inicio</th>
      <th>Fecha fin</th>
      <th>Descripcion</th>
      <th>Dar alta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @internados.each do |internado| %>
      <tr>
        <td><%= internado.medicamento %></td>
        <td><%= internado.dosis %></td>
        <td><%= internado.fecha_inicio %></td>
        <td><%= internado.fecha_fin %></td>
        <td><%= internado.descripcion %></td>
        <td><%= internado.dar_alta %></td>
        <td><%= link_to 'Show', internado %></td>
        <td><%= link_to 'Edit', edit_internado_path(internado) %></td>
        <td><%= link_to 'Destroy', internado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Internado', new_internado_path %>
