<p id="notice"><%= notice %></p>

<p>
  <strong>Medicamento:</strong>
  <%= @internado.medicamento %>
</p>

<p>
  <strong>Dosis:</strong>
  <%= @internado.dosis %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @internado.fecha_inicio %>
</p>

<p>
  <strong>Fecha fin:</strong>
  <%= @internado.fecha_fin %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @internado.descripcion %>
</p>

<p>
  <strong>Dar alta:</strong>
  <%= @internado.dar_alta %>
</p>

<%= link_to 'Edit', edit_internado_path(@internado) %> |
<%= link_to 'Back', internados_path %>
