<%= form_with(model: estado_medico, local: true) do |form| %>
  <% if estado_medico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(estado_medico.errors.count, "error") %> prohibited this estado_medico from being saved:</h2>

      <ul>
      <% estado_medico.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :estado_medico_nombre %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
