
<div class="row">
  <div class="col-md-4">
      <h3>Fichas Médica</h3>
      <hr></hr>  
  </div>
  <div class="col-md-4">
      <%= render 'buscar' %>
  </div>

</div>

<div class="col-sm-12">
    <div><%= link_to ' Crear Nueva Ficha', new_ficha_medica_path, :class=>"btn btn-nuevo" %></div>
<br>
<table class="table">
  <thead >
    <tr> 
      <th>Fecha de Creación</th>
      <th>Paciente</th>
      <th>Nombre comun </th>
      <th>Estado salud</th>
      <th>Motivo de Consulta</th>
      <th>Pre-diagnóstico</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ficha_medicas.each do |ficha_medica| %>
      <tr>
         
        <td><%= ficha_medica.created_at %></td>
        <td><%= ficha_medica.animal.identificador %></td>
        <td><%= ficha_medica.animal.nombre_comun %></td>
        <td><%= ficha_medica.estado_medico.nombre %></td>
        <td><%= ficha_medica.enfermedad %></td>
        <td><%= ficha_medica.dolencia %></td>
        <td><%= link_to 'Mostrar', ficha_medica, :class=>"btn btn-mostrar"  %></td>
        <td><%= link_to 'Modificar', edit_ficha_medica_path(ficha_medica), :class=>"btn btn-modificar"  %></td>
        <td><%= link_to 'Destruir', ficha_medica, method: :delete, data: { confirm: 'Estas seguro de querer eliminar?'}, :class=>"btn btn-destruir" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<!-- <p><%= will_paginate @ficha_medica %></p> -->
<br>

