<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha ingreso:</strong>
  <%= @ficha_medica.fecha_ingreso %>
</p>

<p>
  <strong>Estado salud:</strong>
  <%= @ficha_medica.estado_salud %>
</p>

<p>
  <strong>Enfermedad:</strong>
  <%= @ficha_medica.enfermedad %>
</p>

<p>
  <strong>Dolencia:</strong>
  <%= @ficha_medica.dolencia %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @ficha_medica.descripcion %>
</p>

<p>
  <strong>Fotos:</strong>
   <%= image_tag @ficha_medica.archivos.url %>
</p>
<p>
  <strong>Audios:</strong>
  <audio controls src=" <%= @ficha_medica.audio.url %>"></audio>
</p>

<video width="320" height="240" controls>
  <strong>Video:</strong>
  <%= @ficha_medica.video.url %>
</video>



<p>
  <strong>Internacion:</strong>
  <%= @ficha_medica.internacion %>
</p>

<%= link_to 'Edit', edit_ficha_medica_path(@ficha_medica) %> |
<%= link_to 'Back', ficha_medicas_path %>
