
<!-- Alerta para un usuario vip -->
<% if current_user.try(:vip?) %> 
      <div class="alert alert-danger" role="alert">
      <h2>No tiene permiso para utilizar esta sección consulte con el administrador</h2>
<% end %>
<!-- fin de alerta -->

<!-- Si es admin y user se muestra la pagina -->
<% if user_signed_in? %>
  <% if current_user.try(:user?) || current_user.try(:admin?)  %> 
<!-- finaliza al pie de esta lamina con dos end  -->

<div class="row">
     <div class="col-md-4">
        <div class="input-group">
          <span class="input-group-addon" id="sizing-addon2">
          <label>Identificador:</label></span>
          <div class="form-control"><%= @ficha_medica.animal.identificador%> </div>
        </div>
      </div>

    <div class="col-md-4">
      <div class="input-group">
          <span class="input-group-addon" id="sizing-addon2">
          <label>Fecha ingreso:</label></span>
          <div class="form-control"><%= l(@ficha_medica.created_at, :format => :long)  %> </div>
      </div>
    </div>
     <div class="col-md-4">     
          <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">
              <label>Atendido por:</label></span>
              <div class="form-control">   <%= @ficha_medica.veterinario %> </div>
          </div>
      </div>

</div>

<br>
<div class="row">

    <div class="col-md-4">
      <div class="input-group">
          <span class="input-group-addon" id="sizing-addon2">
          <label>Nombre Común:</label></span>
          <div class="form-control">   <%= @ficha_medica.animal.nombre_comun %> </div>
      </div>
    </div>

    <div class="col-md-4">
       <div class="input-group">
          <span class="input-group-addon" id="sizing-addon2">
          <label>Estado salud:</label></span>
          <div class="form-control"> <%= @ficha_medica.estado_medico.nombre %> </div>
      </div>
    </div>

    <div class="col-md-4">
        <div class="input-group">
              <span class="input-group-addon" id="sizing-addon2">
              <label>Enfermedad:</label></span>
              <div class="form-control"> <%= @ficha_medica.enfermedad %> </div>
          </div>
    </div>
</div>

  <br>
<div class="row">
  <div class="col-md-4">

      <div class="input-group">
          <span class="input-group-addon" id="sizing-addon2">
          <label>Dolencia:</label></span>
          <div class="form-control"> <%= @ficha_medica.dolencia %> </div>
      </div>

 
  </div>
</div>

<br>
<div class="row">
  <div class="col-md-12">
        <div class="form-group">
          <strong>Descripción:</strong>
          <div class="separator_wrapper wow fadeIn"></div>
          <p> 
            <%= @ficha_medica.descripcion %></p>
        </div>

     
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-4">
    <strong>Imagen:</strong>

<div class="r-item wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
            <a href="#" title="" data-toggle="modal" data-target="#modal6">
              <% if @ficha_medica.archivos.url.nil? %>
              No hay fotos 
              <% else %>
                    <%= image_tag @ficha_medica.archivos.url %>
              <% end %>
              
            </a>
          </div>
  </div>

  <div class="col-md-4">
    <strong>Audio:</strong>
    <div class="r-item wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
            <a href="#" title="" data-toggle="modal" data-target="#modal6">
              <% if @ficha_medica.audio.url.nil? %>
                  No hay Audios 
              <% else %>
                  <audio controls src=" <%= @ficha_medica.audio.url %>"></audio>
              <% end %>
            </a>
          </div>
  </div>

  <div class="col-md-4">
    <strong>Video:</strong>
        <div class="r-item wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
            <a href="#" title="" data-toggle="modal" data-target="#modal6">
              <% if @ficha_medica.video.url.nil? %>
                  No hay Videos 
              <% else %>
                <video width="320" height="240" controls>
                  <source src="<%= @ficha_medica.video.url %>" type="video/mp4">
                  <source src="<%= @ficha_medica.video.url %>" type="video/ogg">
                </video>
              <% end %>
            </a>
          </div>
  </div>
</div>




<div class="row">
  <div class="r-item wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">

  <div class="col-md-12">
    <p>
  <strong>Última modificación:</strong>
    <div class="parrafo"><%= l(@ficha_medica.updated_at, :format => :long)  %></div>
  </p>
      
  </div>
</div>




 


<br>

<%= link_to 'Modificar', edit_ficha_medica_path(@ficha_medica), :class=>"btn btn-modificar" %> 
<%= link_to 'Volver', ficha_medicas_path, :class=>"btn btn-atras" %>
</div>

<% end %>
<% end %>