
<p>
  <strong>Fecha ingreso:</strong>
  <%= l(@ficha_medica.created_at, :format => :long)  %>
</p>

<p>
  <strong>Atendido por:</strong>
  <%= @ficha_medica.veterinario %>
</p>

<p>
  <strong>Nombre Comun:</strong>
  <%= @ficha_medica.animal.nombre_comun %>
</p>

<p>
  <strong>Estado salud:</strong>
  <%= @ficha_medica.estado_medico.nombre %>
</p>

<p>
  <strong>Enfermedad:</strong>
  <%= @ficha_medica.enfermedad %>
</p>

<p>
  <strong>Dolencia:</strong>
  <%= @ficha_medica.dolencia %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @ficha_medica.descripcion %>
</p>

<p>
  <strong>Fotos:</strong>

   <% if @ficha_medica.archivos.url.nil? %>
    No hay fotos 
    <% else %>
      <%= image_tag @ficha_medica.archivos.url %>
    <% end %>
</p>
<p>
  <strong>Audios:</strong>

  <% if @ficha_medica.audio.url.nil? %>
    No hay Audios 
    <% else %>
      <audio controls src=" <%= @ficha_medica.audio.url %>"></audio>
    <% end %>
</p>
<p>
<strong>Video:</strong>
<% if @ficha_medica.video.url.nil? %>
    No hay Videos 
    <% else %>
      <video width="320" height="240" controls>
        <source src="<%= @ficha_medica.video.url %>" type="video/mp4">
        <source src="<%= @ficha_medica.video.url %>" type="video/ogg">
      </video>
    <% end %>
</p>

<br>
<%= link_to 'Modificar', edit_ficha_medica_path(@ficha_medica), :class=>"btn btn-modificar" %> |
<%= link_to 'Volver', ficha_medicas_path, :class=>"btn btn-default" %>
</div>