<%= simple_form_for @event, remote: true do |f| %>
<div class="row">
    <div class="col-md-12">
      <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2"><%= f.label 'Titulo' %></span>
    <%= f.text_area :title, title: :event_title, :class=>"form-control", :placeholder=>"Vacunación"  %>
   </div>
   </div>
 </div>

<div class="row">
 <div class="col-md-6">
    <div class="form-group">
           <%= f.label " Inicio"%>
            <div class='input-group date' id='event_datepicker'>
                <input type='text' name="event[start]" id='event_start' class="form-control" style="width: 100%" />
                 <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            $('#event_datepicker').datetimepicker({
                
                 format: 'DD/MM/YYYY'
            });
        });
    </script>

 <div class="col-md-6">
    <div class="form-group">
           <%= f.label "Fin"%>
            <div class='input-group date' id='event_datepicker_end'>
                <input type='text' name="event[end]" id='event_end' class="form-control" style="width: 100%" />
                 <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>

 
   <script type="text/javascript">
        $(function () {
            $('#event_datepicker_end').datetimepicker({
                
                 format: 'DD/MM/YYYY'
            });
        });
    </script>

<div class="row">
    <div class="col-md-6">
      <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2"><%= f.label 'Tipo de Evento' %></span>
         <select class="form-control " data-live-search="true" id="event_color" name="event[color]" style="width: 100%">
              <option value="#7ac8ef">Información</option>
              <option value="#f7b041">Alerta</option>
              <option value="#f544f7">Actividades</option>
          </select>
      </div>
    </div>
      <div class="col-md-6">
          <div class="form-actions">
            <%= f.submit "Guardar", :class=>"btn btn-nuevo"%>
            <%= link_to 'Destruir', 
                        event, 
                        method: :delete, 
                        class: 'btn btn-default', 
                        data: { confirm: 'Esta seguro que quiere eliminar?' }, 
                        remote: true unless @event.new_record? %>
          </div>
       </div>
 </div>
<% end %>
