<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <h3>Iniciar sesión</h3>
    <br>
    <%= devise_error_messages! %>
<div class="row">
     <div class="col-md-6">
    <div class="input-group">
      <span class="input-group-addon" id="sizing-addon2">
          <%= f.label "Email:" %></span>
      <%= f.email_field :email, :autofocus => true, :class=>"form-control", :placeholder=>"email" %>
    </div>
    <br>
    <div class="input-group">
       <span class="input-group-addon" id="sizing-addon2">
            <%= f.label "Constraseña:" %>
      </span>
      <%= f.password_field :password,:class=>"form-control", :placeholder=>"contraseña" %>
    </div>
    <br>
      <%= f.submit 'Entrar', :class => 'button right' %>
      <% if devise_mapping.rememberable? -%>
        <div class="checkbox" style="width:150px">
          <label>
            <%= f.check_box :remember_me %> Recordar
          </label>
        </div>
      <% end -%>
  <% end %>
</div></div></div>
