<%= form_with(model: alimento, local: true) do |form| %>
  <% if alimento.errors.any? %>
    <div class="alert alert-danger" role="alert">
      Se ha encontrado <%= pluralize(alimento.errors.count, "error") %> al intentar crear una nueva especie

      <ul>
      <% alimento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <span class="input-group-addon" id="sizing-addon2"><%= form.label :nombre %></span>
    <%= form.text_field :nombre, id: :alimento_nombre, :class=>"form-control", :placeholder=>"Obnivoro" %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit "Guardar", :class=>"btn btn-nuevo" %>
    <%= link_to 'Volver', alimentos_path, :class=>"btn btn-default" %> 
  </div>
<% end %>
