<!DOCTYPE html>
<html>
    <head>
     
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Bienvenidos- MiniZoo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"> 
        <link rel="apple-touch-icon" href="images/favicon.ico">
        <!-- Place favicon.ico in the root directory -->
        <!-- all css here -->
        <!-- bootstrap v3.3.6 css -->
    
        <link rel="stylesheet" href="http://mizoo.herokuapp.com/website-style/css/bootstrap.min.css">
        <!-- flaticon css -->
        <link rel="stylesheet" href="http://mizoo.herokuapp.com/website-style/css/flaticon.css">
        <!-- animate css -->
        <link rel="stylesheet" href="http://mizoo.herokuapp.com/website-style/css/animate.css">
        <!-- jquery-ui.min css -->
        <link rel="stylesheet" href="http://mizoo.herokuapp.com/website-style/css/jquery-ui.min.css">
        <!-- meanmenu css -->
        <link rel="stylesheet" href="http://mizoo.herokuapp.com/website-style/css/meanmenu.min.css">
        <!-- owl.carousel css -->
        <link rel="stylesheet" href="http://mizoo.herokuapp.com/website-style/css/owl.carousel.css">
        <!-- magnific-popup css -->
        <link rel="stylesheet" href="http://mizoo.herokuapp.com/website-style/css/magnific-popup.css">
        <!-- font-awesome css -->
        <link rel="stylesheet" href="http://mizoo.herokuapp.com/website-style/css/font-awesome.min.css">
        <!-- style css -->
    	<link rel="stylesheet" href="http://mizoo.herokuapp.com/website-style/style.css" />
        <!-- responsive css -->
        <link rel="stylesheet" href="http://mizoo.herokuapp.com/website-style/css/responsive.css">
        <!-- modernizr css -->

        <script src="http://mizoo.herokuapp.com/website-style/js/vendor/modernizr-2.8.3.min.js.descarga"></script>
    </head>
 
    
    <body>
   		<header>
    		<%= render 'website/menu' %>
	   	</header>
	
      	<%= render 'website/slider' %>
      	<%= render 'website/service' %>
      	<%= render 'website/plan' %>


	<footer>
		<%= render 'website/footer' %>
	</footer>
    
	 <!-- all js here -->
        <!-- jquery latest version -->
        <script src="http://mizoo.herokuapp.com/website-style/js/vendor/jquery-1.12.0.min.js.descarga"></script>
        <!-- bootstrap js -->
        <script src="http://mizoo.herokuapp.com/website-style/js/bootstrap.min.js.descarga"></script>
        <!-- owl.carousel js -->
        <script src="http://mizoo.herokuapp.com/website-style/js/owl.carousel.min.js.descarga"></script>
        <!-- meanmenu js -->
        <script src="http://mizoo.herokuapp.com/website-style/js/jquery.meanmenu.js.descarga"></script>
        <!-- jquery-ui js -->
        <script src="http://mizoo.herokuapp.com/website-style/js/jquery-ui.min.js.descarga"></script>
        <!-- wow js -->
        <script src="http://mizoo.herokuapp.com/website-style/js/wow.min.js.descarga"></script>
        <!-- magnific-popup js -->
        <script src="http://mizoo.herokuapp.com/website-style/js/jquery.magnific-popup.min.js.descarga"></script>
        <!-- plugins js -->
        <script src="http://mizoo.herokuapp.com/website-style/js/plugins.js.descarga"></script>
      	<!-- main js -->
        <script src="http://mizoo.herokuapp.com/website-style/js/main.js.descarga"></script>
    </body>


</html>
