
<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Minizoo</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8">

  </head> 

  <body>

      <%= render 'layouts/menu' %>
<br><br><br><br><br>
<div class="container">
  
    <!-- Capsula para las notificaciones de los AVM General -->
    <% if flash[:notice] -%>
      <div class = "alert alert-success"><%= flash[:notice] %></div>
    <% end %>

    <!-- Contenido -->
      <%= yield %>


</div>
<br><br><br><br><br>
  <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text pull-left">© 2017 - minizoo </p>
        </div>
    </div>

  </body>
</html>
