<%= form_with(model: articulo, local: true) do |form| %>
  <% if articulo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(articulo.errors.count, "error") %> prohibited this articulo from being saved:</h2>

      <ul>
      <% articulo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo, id: :articulo_titulo %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, id: :articulo_descripcion %>
  </div>

<div class="field">
    <%= form.label :foto %><br>
    <%= form.file_field :foto, multiple:  true   %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
