<%= form_with(model: animal, local: true) do |form| %>
  <% if animal.errors.any? %>
    <div class="alert alert-danger" role="alert">
      Se ha encontrado <%= pluralize(animal.errors.count, "error") %> al intentar crear un nuevo registro

      <ul>
      <% animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <div class="input-group">
    <span class="input-group-addon" id="sizing-addon2"><%= form.label :nombre_cientifico %></span>
    <%= form.text_field :nombre_cientifico, id: :animal_nombre_cientifico, :class=>"form-control", :placeholder=>"Mylopssitta monchat"  %>
  </div>
<br>
 <div class="input-group">
    <span class="input-group-addon" id="sizing-addon2"><%= form.label :nombre_comun %></span>
    <%= form.text_field :nombre_comun, id: :animal_nombre_comun, :class=>"form-control", :placeholder=>"Contorrita" %>
  </div>
<br>
  <div class="field">
    <%= form.label :macho %>
    <%= form.check_box :macho, id: :animal_macho %>
  </div>
<br>
 <div class="input-group">
    <span class="input-group-addon" id="sizing-addon2"><%= form.label :edad %></span>
    <%= form.number_field :edad, id: :animal_edad, :class=>"form-control", :placeholder=>"5" %>
  </div>
<br>
  <div class="input-group">
    <span class="input-group-addon" id="sizing-addon2"><%= form.label :origen %></span>
    <%= form.text_field :origen, id: :animal_origen, :class=>"form-control", :placeholder=>"Brasil"  %>
  </div>
  <br>
 <div class="field">
    <%= form.label "Tipo de Alimentación" %>
      <%= form.collection_select(:alimento_id, Alimento.all, :id, :nombre) %>
    
    <br>
  </div>
<br>
  <div class="field">
    <%= form.label "Cite" %>
     <%= form.collection_select(:cite_id, Cite.all, :id, :nombre) %><br>
  </div>
<br>
  <div class="field">
    <%= form.label "Especie" %>
     <%= form.collection_select(:especie_id, Especie.all, :id, :nombre) %><br>
  </div>
<br>
  <div class="field">
    <%= form.label "Estado de Conservación" %>
     <%= form.collection_select(:estado_conservacion_id, EstadoConservacion.all, :id, :nombre)%><br>
  </div>
<br>
  <div class="input-group">
    <span class="input-group-addon" id="sizing-addon2"><%= form.label :descripcion %></span>
    
    <%= form.text_area :descripcion, id: :animal_descripcion, :class=>"form-control" %>
  </div>
<br>
  <div class="actions">
    <%= form.submit "Guardar", :class=>"btn btn-nuevo"%>
    <%= link_to 'Volver', animales_path, :class=>"btn btn-default" %>
  </div>



<br>
<br>

<% end %>
