<%= form_with(model: animal, local: true) do |form| %>
  <% if animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre_cientifico %>
    <%= form.text_field :nombre_cientifico, id: :animal_nombre_cientifico %>
  </div>

  <div class="field">
    <%= form.label :nombre_comun %>
    <%= form.text_field :nombre_comun, id: :animal_nombre_comun %>
  </div>

  <div class="field">
    <%= form.label :macho %>
    <%= form.check_box :macho, id: :animal_macho %>
  </div>

  <div class="field">
    <%= form.label :edad %>
    <%= form.number_field :edad, id: :animal_edad %>
  </div>

  <div class="field">
    <%= form.label :origen %>
    <%= form.text_field :origen, id: :animal_origen %>
  </div>
  <div class="field">
     <%= form.label "Alimentacion" %>
     <%= form.collection_select(:alimento_id, Alimento.all, :id, :nombre) %><br>
  </div>

  <div class="field">
    <%= form.label "Cite" %>
     <%= form.collection_select(:cite_id, Cite.all, :id, :nombre) %><br>
  </div>

  <div class="field">
    <%= form.label "Especie" %>
     <%= form.collection_select(:especie_id, Especie.all, :id, :nombre) %><br>
  </div>

  <div class="field">
    <%= form.label "Estado de Conservación" %>
     <%= form.collection_select(:estado_conservacion_id, EstadoConservacion.all, :id, :nombre) %><br>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, id: :animal_descripcion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
