<%= form_with(model: animal, local: true) do |form| %>
  <% if animal.errors.any? %>
    <div class="alert alert-danger" role="alert">
      Se ha encontrado <%= pluralize(animal.errors.count, "error") %> al intentar crear un nuevo registro

      <ul>
      <% animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
    <div class="col-md-4">
       <div class="input-group">
          <span class="input-group-addon" id="sizing-addon2"><%= form.label "Identificador" %></span>
          <%= form.text_field :identificador, id: :animal_identificador, :class=>"form-control", :placeholder=>"F10010" , :pattern=>"^[A-Z0-9]*$",  :title=>'No se aceptan: minúsculas, letras especiales y espacios en blanco'  %>
        </div>
    </div>

    <div class="col-md-3">
        <div class="input-group">
          <span class="input-group-addon" id="sizing-addon2"><%= form.label "Especie" %></span>
           <%= form.collection_select(:especie_id, Especie.all, :id, :nombre, {} , {:class => 'form-control'}) %>
        </div>
    </div>

    <div class="col-md-3">
         <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2"><%= form.label "Familia" %></span>
            <%= form.text_field :familia, id: :animal_familia, :class=>"form-control", :placeholder=>"Emberizidae", :pattern=>"[a-zA-ZñÑáéíóúÁÉÍÓÚ`âêîô^û\s]+" ,  :title=>'No se aceptan números ni especios en blancos'  %>
          </div>
      </div>
</div>
<br>

<div class="row">
  
<div class="col-md-4">
     <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2"><%= form.label :nombre_comun %></span>
        <%= form.text_field :nombre_comun, id: :animal_nombre_comun, :class=>"form-control", :placeholder=>"Contorrita", :pattern=>"[a-zA-ZñÑáéíóúÁÉÍÓÚ`âêîô^û\s]+" ,  :title=>'No se aceptan números' %>
      </div>
    </div>

  <div class="col-md-5 ">
     <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2"><%= form.label :nombre_cientifico %></span>
        <%= form.text_field :nombre_cientifico, id: :animal_nombre_cientifico, :class=>"form-control", :placeholder=>"Mylopssitta monchat", :style=>"width: 100%", :pattern=>"[a-zA-ZñÑáéíóúÁÉÍÓÚ`âêîô^û\s]+",  :title=>'No se aceptan números'  %>
      </div>
  </div>

  </div>
<br>
<div class="row">
    <div class="col-md-2">
      <%= form.label "Sexo"%>
     <select class="form-control " data-live-search="true" id="animal_sexo" name="animal[sexo]" style="width: 100%">
          <option value="Hembra">Hembra</option>
          <option value="Macho">Macho</option>
          <option value="Hermafroditas">Hermafroditas</option>
      </select>
    </div>


<!-- <div class="col-md-2">
  <div class="form-group">
           <%= form.label "Fecha de Nacimiento"%>
<div class='input-group date' id='animal_edad_datepicker'>
<%= form.date_select :edad , {} , {:class => 'form-control'} %>

            </div>
</div></div> -->
    <div class="col-md-2">
        <div class="form-group">
           <%= form.label "Fecha de Nacimiento"%>
            <div class='input-group date' id='animal_edad_datepicker'>
                <input name="animal[edad]" id='animal_edad'class="form-control" style="width: 100%"  required='required', title='Se necesita una fecha' value='<%= animal.edad %>'/>

                 <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        $(function () {
          // Esto podemos utilizar si deseamos traer cualquier atributo de la tabla 
          // y repintarlo donde quisieramos
          
            // var test=JSON.stringify('<%=@animal.edad %>');
            // console.log(test);


            date = moment($('#animal_edad').val().substring(0,10)).format('DD/MM/YYYY');
            console.log(date);

            $('#animal_edad').val(date);

            $('#animal_edad_datepicker').datetimepicker({
                 format: 'DD/MM/YYYY',
                 locale:'es'
            });
        });
    </script>


</div>


<div class="row">
  <div class="col-md-6">
        <div class="input-group">
          <span class="input-group-addon" id="sizing-addon2"><%= form.label "Distribución" %></span>
          <%= form.text_area :origen, id: :animal_origen, :class=>"form-control", :placeholder=>"Brasil, Bolivia, Paraguay hasta Argentina" , :style=>"width: 100%" %>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-3">
       <div class="field">
          <%= form.label "Tipo de Alimentación" %>
          <%= form.collection_select(:alimento_id, Alimento.all, :id, :nombre, {} , {:class => 'form-control'}) %>
        </div>
    </div>


  <!-- Filtrado por condiciones collection select
      <div class="col-md-3">
       <div class="field">
          <%= form.label "Tipo de Alimentación" %>
          <%= form.collection_select(:alimento_id, Alimento.where(nombre: "Carnivoro").all, :id, :nombre) %>
        </div>
    </div> -->


    <div class="col-md-2">
        <div class="field">
          <%= form.label "CITE" %>
           <%= form.collection_select(:cite_id, Cite.all, :id, :nombre, {} , {:class => 'form-control'}) %>
        </div>
    </div>

    <div class="col-md-3">
      <div class="field">
        <%= form.label "Estado de Conservación (CDC)" %>
         <%= form.collection_select(:estado_conservacion_id, EstadoConservacion.all, :id, :nombre, {} , {:class => 'form-control'})%><br>
      </div>
    </div>
</div>
<br>
    <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2"><%= form.label "Características Naturales" %>
        </span>
        <%= form.text_area :descripcion, id: :animal_descripcion, :class=>"form-control", :rows=>"5" ,:cols=>"30" %>
    </div>
<br>
  <div class="actions">
    <%= form.submit "Guardar", :class=>"btn btn-nuevo"%>
    <%= link_to 'Volver', animales_path, :class=>"btn btn-default" %>
  </div>



<br>
<br>

<% end %>
