<div class="row">
  <div class="col-md-4">
      <h3>Lista de animales en el zoo</h3>
      <hr></hr>  
  </div>
  <div class="col-md-4">
      <%= render 'buscar' %>
  </div>

</div>
  

<div class="col-sm-12">
<div class="table-responsive">
    <div><%= link_to 'Nuevo Animal', new_animal_path, :class=>"btn btn-nuevo" %></div>
<br>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Ident.</th>
      <th>Especia</th>
      <th>Familia</th>
      <th>Nombre cientifico</th>
      <th>Nombre comun</th>
      <th>Sexo</th>
      <th>Edad</th>
      <th>Origen</th>
      <th>Cite</th>
      <th>Estado de Conservación</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @animales.each do |animal| %>
      <tr>
        <td><%= animal.identificador %></td>
        <td><%= animal.especie %></td>
        <td><%= animal.familia %></td>
        <td><%= animal.nombre_cientifico %></td>
        <td><%= animal.nombre_comun %></td>
        <td><%= animal.sexo %></td>
        <td><%= animal.edad %></td>
        <td><%= animal.origen %></td>
        <td><%= animal.cite.nombre %></td>
        <td><%= animal.estado_conservacion.nombre %></td>
        <td><%= link_to 'Mostrar', animal, :class=>"btn btn-mostrar" %></td>
        <td><%= link_to 'Modificar', edit_animal_path(animal), :class=>"btn btn-modificar" %></td>
        <td><%= link_to 'Destruir', animal, method: :delete, data: { confirm: 'Esta seguro de querer eliminar' }, :class=>"btn btn-destruir"  %></td>
      </tr>
    <% end %>
  </tbody>

</table>

 </div> 

</div>
 <%= will_paginate @animal %>
 <br>


