<div class="row">
  <div class="col-md-4">
      <h3>Lista de animales en el zoo</h3>
      <hr></hr>  
  </div>
  <div class="col-md-8">
      <%= render 'buscar' %>
  </div>

</div>
  

<div class="col-sm-12">
<div class="table-responsive">
    <div><%= link_to 'Nuevo Animal', new_animal_path, :class=>"btn btn-nuevo" %></div>
<br>
<table class="table">
  <thead>
    <tr>
      <th>IDENT.</th>
      <th>ESPECIE</th>
      <th>FAMILIA</th>
      <th>NOMBRE CIENTÍFICO</th>
      <th>NOMBRE COMÚN</th>
      <th>FECHA NAC.</th>
      <th>ORIGEN</th>
 
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @animales.each do |animal| %>
      <tr>
        <td><%= animal.identificador %></td>
        <td><%= animal.especie.nombre %></td>
        <td><%= animal.familia %></td>
        <td><%= animal.nombre_cientifico %></td>
        <td><%= animal.nombre_comun %></td>
        <td><%= l(animal.edad, :format => :edadanimalshow)%></td>
        <td><%= animal.origen %></td>

        <td><%= link_to 'Mostrar', animal, :class=>"btn btn-mostrar" %></td>
        <!-- <td><%= link_to 'Modificar', edit_animal_path(animal), :class=>"btn btn-modificar" %></td> -->
        <!-- <td><%= link_to 'Destruir', animal, method: :delete, data: { confirm: 'Esta seguro de querer eliminar' }, :class=>"btn btn-destruir"  %></td> -->
      </tr>
    <% end %>
  </tbody>

</table>

 </div> 

</div>
<%= will_paginate @animal, renderer: BootstrapPagination::Rails  %></p> 
 <br>
