<div class="row">
  <div class="col-md-3">

        <div class="animalh1"><%= @animal.identificador %></div>
  </div>
    

  <div class="col-md-6">
      
      <p>
        <strong>Especie:</strong> 
        <%= @animal.especie.nombre %>
      </p>
      <p>
        <strong>Familia:</strong>
        <%= @animal.familia %>
      </p>
      <p>
        <strong>Nombre cientifico:</strong>
        <%= @animal.nombre_cientifico %>
      </p>

      <p>
        <strong>Nombre comun:</strong>
        <%= @animal.nombre_comun %>
      </p>

      <p>
        <strong>Sexo</strong>
        <%= @animal.sexo %>
      </p>

      <p>
        <strong>Fecha de Nac./Ingreso:</strong>
       <%= l(@animal.edad, :format => :timehistorial)%> 

      </p>
      <p>
        <strong>Edad:</strong>
        <%= @edad %>
      </p>
      <p>
        <strong>Distribución:</strong>
        <%= @animal.origen %>
      </p>
      <p>
        <strong>Alimentacion:</strong>
        <%= @animal.alimento.nombre %>
       
      </p>
      <p>
        <strong>Cites:</strong>
        <%= @animal.cite.nombre %>
      </p>

      <p>
        <strong>Estado de Conservación:</strong>
        <%= @animal.estado_conservacion.nombre %>
      </p>

      <p>
        <strong>Carecteristicas:</strong>
        <div class="parrafo"><%= @animal.descripcion %></div>
      </p>

      <%= link_to 'Modificar', edit_animal_path(@animal), :class=>"btn btn-modificar" %> |
      <%= link_to 'Volver', animales_path, :class=>"btn btn-atras" %>
  </div>
<br>
<div class="col-md-3" id="historial">

        <div class="page-header">
            <h5 id="timeline">Historial Medico
            <span id="totalspan", class="btn btn-alert badge" style="font-size:14px"></h5>
        </div>

        <% if @animal.ficha_medicas.any? %>
            
              <div class="years2">
                <div class="row item wow fadeInDown" style="visibility: visible; animation-name: fadeInDown;">
  
                  <% @animal.ficha_medicas.each do |ficha| %> 
  
                  <div class="desc">
                    <h4><%=  l(ficha.created_at, :format => :timehistorial)%></h4>
                    <p class="subtitle"><%= link_to ficha, ficha %></p>
                    <p><%= ficha.descripcion%> </p>
                  </div> 

                    <% end %>

                </div>
                    <% else %>
                    <p>No hay ficha</p>
               </div>
                    <% end %>   

  </div>
</div>
            
      




<script type="text/javascript">

  var totalhistorial = $("#historial h4").size();
  $("#totalspan").text(totalhistorial);
</script>

