<div class="row">
  <div class="col-md-3">Menu
      <h1><span class="btn btn-alert badge" style="font-size:100px">
        <%= @animal.identificador %>
      </span></h1>
  </div>

  <div class="col-md-6">
      <p>
        <strong>Identificador:</strong>
        <%= @animal.identificador %>
      </p>
      <p>
        <strong>Especie:</strong> 
        <%= @animal.especie.nombre %>
      </p>
      <p>
        <strong>Familia:</strong>
        <%= @animal.familia %>
      </p>
      <p>
        <strong>Nombre cientifico:</strong>
        <%= @animal.nombre_cientifico %>
      </p>

      <p>
        <strong>Nombre comun:</strong>
        <%= @animal.nombre_comun %>
      </p>

      <p>
        <strong>Sexo</strong>
        <%= @animal.sexo %>
      </p>

      <p>
        <strong>Fecha de Nac./Ingreso:</strong>
       <%= l(@animal.edad, :format => :timehistorial)%> 

      </p>
      <p>
        <strong>Edad:</strong>
        <%= @edad %>
      </p>
      <p>
        <strong>Distribución:</strong>
        <%= @animal.origen %>
      </p>
      <p>
        <strong>Alimentacion:</strong>
        <%= @animal.alimento.nombre %>
       
      </p>
      <p>
        <strong>Cites:</strong>
        <%= @animal.cite.nombre %>
      </p>

      <p>
        <strong>Estado de Conservación:</strong>
        <%= @animal.estado_conservacion.nombre %>
      </p>

      <p>
        <strong>Carecteristicas:</strong>
        <%= @animal.descripcion %>
      </p>

      <%= link_to 'Modificar', edit_animal_path(@animal), :class=>"btn btn-modificar" %> |
      <%= link_to 'Volver', animales_path, :class=>"btn btn-atras" %>
  </div>

  <div class="col-md-3" id="historial">

    <div class="page-header">
        <h5 id="timeline">Historial Medico
        <span id="totalspan", class="btn btn-alert badge" style="font-size:14px"></h5>
    </div>
    
    <% if @animal.ficha_medicas.any? %>
      <ul class="timeline">
        <% @animal.ficha_medicas.each do |ficha| %> 
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-record"></i></div>
          <div class="timeline-panel">
          
              <div class="timeline-heading">
                 <%=  l(ficha.created_at, :format => :timehistorial)%> 
              </div>

            <!--   <div class="timeline-body">
                <%= ficha.descripcion%> 
              </div> -->

              <%= link_to ficha, ficha %>
           </div> 
          </li> 
    
          <% end %>
            </ul>
          <% else %>
               <p>No hay ficha</p>

          <% end %>
</div>

<script type="text/javascript">

  var totalhistorial = $("#historial li").size();
  $("#totalspan").text(totalhistorial);
</script>

