<div class="container">
  <div class="alert alert-info" role="alert">
    <%= notice %>
  </div>
<p>
  <strong>Nombre cientifico:</strong>
  <%= @animal.nombre_cientifico %>
</p>

<p>
  <strong>Nombre comun:</strong>
  <%= @animal.nombre_comun %>
</p>

<p>
  <strong>Macho:</strong>
  <%= @animal.macho %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @animal.edad %>
</p>

<p>
  <strong>Origen:</strong>
  <%= @animal.origen %>
</p>
<p>
  <strong>Alimentacion:</strong>
  <%= @animal.alimento.nombre %>
 
</p>
<p>
  <strong>Cites:</strong>
  <%= @animal.cite.nombre %>
</p>
<p>
  <strong>Especies:</strong>
  <%= @animal.especie.nombre %>
</p>
<p>
  <strong>Estado de Conservación:</strong>
  <%= @animal.estado_conservacion.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @animal.descripcion %>
</p>

<%= link_to 'Modificar', edit_animal_path(@animal), :class=>"btn btn-modificar" %> |
<%= link_to 'Volver', animales_path, :class=>"btn btn-default" %>
</div>
