<div class="row">
  <div class="col-md-3">Menu</div>
  <div class="col-md-6">
      <p>
        <strong>Identificador:</strong>
        <%= @animal.identificador %>
      </p>
      <p>
        <strong>Especie:</strong>
        <%= @animal.especie %>
      </p>
      <p>
        <strong>Familia:</strong>
        <%= @animal.familia %>
      </p>
      <p>
        <strong>Nombre cientifico:</strong>
        <%= @animal.nombre_cientifico %>
      </p>

      <p>
        <strong>Nombre comun:</strong>
        <%= @animal.nombre_comun %>
      </p>

      <p>
        <strong>Sexo</strong>
        <%= @animal.sexo %>
      </p>

      <p>
        <strong>Fecha de Nac./Ingreso:</strong>
        <%= l(@animal.edad, :format => :timehistorial)%> 

      </p>
      <p>
        <strong>Edad:</strong>
        
       <script>document.write(anosanimal(<%= l(@animal.edad, :format => :edadanimal)%> ))</script> años
      </p>
      <p>
        <strong>Distribución:</strong>
        <%= @animal.origen %>
      </p>
      <p>
        <strong>Alimentacion:</strong>
        <%= @animal.alimento.nombre %>
       
      </p>
      <p>
        <strong>Cites:</strong>
        <%= @animal.cite.nombre %>
      </p>

      <p>
        <strong>Estado de Conservación:</strong>
        <%= @animal.estado_conservacion.nombre %>
      </p>

      <p>
        <strong>Carecteristicas:</strong>
        <%= @animal.descripcion %>
      </p>

      <%= link_to 'Modificar', edit_animal_path(@animal), :class=>"btn btn-modificar" %> |
      <%= link_to 'Volver', animales_path, :class=>"btn btn-default" %>
  </div>

  <div class="col-md-3" id="historial">
    <div class="list-group">
      <a href="">Historial Médico  
        <span id="totalspan", class="btn btn-primary badge" style="font-size:14px">
       </span></a>
    </div>
    
    <% if @animal.ficha_medicas.any? %>
      <ul class="list-group">
        <% @animal.ficha_medicas.each do |ficha| %> 
        <li class="list-group-item" ><%=  l(ficha.created_at, :format => :timehistorial)%> - <%= link_to ficha, ficha %></li> 
    
    <% end %>
      </ul>
    <% else %>
         <p>No hay ficha</p>
         
    <% end %>

  </div>

</div>

<script type="text/javascript">
  var totalhistorial = $("#historial li").size();
    $("#totalspan").text(totalhistorial);
</script>

